$layout-smallest: 360px;
$layout-small: 768px;
$layout-medium: 992px;

.header {
  display: flex;
  width: 100%;
  padding: 0 80px 0px 80px;

  @media (max-width: 767px) {
    padding: 0 20px;
  }
  .header_wrapper {
    display: flex;
    width: 100%;
    position: relative;
    .header_logo {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: flex-end;
      .header_logo_link {
        display: flex;
        text-decoration: none;
        color: white;
        line-height: 4;
        font-size: 20px;
      }
    }

    .header_projects {
      display: flex;
      align-items: center;
      height: 100%;
      padding-right: 40.5px;
      .nav_projects_container {
        margin: 0 25px 0 25px;
        .subnav_links {
          display: flex;
          text-decoration: none;
          color: white;
          line-height: 4;
          font-size: 20px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      @media (max-width: 767px) {
        & {
          width: 100%;
          display: none;
          position: fixed;
          padding: 0 20px;
          background: #000;
          z-index: 1;
          color: #fff;
          top: 0;
          left: 0;
          // display: flex;
          flex-flow: column;
          justify-content: center;

          &.active {
            display: flex;
          }
        }
      }
    }
    .nav_third_element {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: flex-end;
    }
    .nav_projects-subContainer {
      display: flex;
    }
    li:last-child {
      margin: 0;
    }
  }
}

.menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 20px;
  transform: translate(0, 100%);
  z-index: 10;

  @media (min-width: 768px) {
    & {
      display: none;
    }
  }
}
