$layout-smallest: 360px;
$layout-small: 768px;
$layout-medium: 992px;
$layout-large: 1200px;

.categories_container {
  display: flex;
  justify-content: flex-start;
  padding: 50px 0;
  .categories_list_item {
    display: flex;
    margin-right: 5px;

    .list_item_links {
      display: flex;
      text-decoration: none;
      color: #bbbbbb;
      font-size: 16px;
      font-weight: 300;
      border: 1px solid #bbbbbb;
      padding: 5px 25px;
      border-radius: 2px;
      // background: gray;
      &:hover {
        text-decoration: underline;
      }
      //   &:active {
      //     text-decoration: underline;
      //   }
    }
  }

  @media (min-width: $layout-smallest) and (max-width: $layout-small) {
    padding: 50px 0 25px 0;
    overflow-x: scroll;
    margin-bottom: 25px;
  }
}
