* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid black;
}

.header ul {
  display: flex;
}

.header ul li {
  margin: 0 15px 0 0;
}

.header ul li:last-child {
  margin: 0;
}
