
.bg-color{
  background-color:#000;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black !important;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  color: white;
}

ul {
  list-style: none;
  margin-block: 0;
}

h1 {
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  font-size: 2.5rem;
  line-height: 1;
}

h3 {
  font-weight: 400;
  /* font-style: normal; */
}
p {
  /* padding: 1.5rem; */
  font-size: 1.2rem;
  font-weight: 300;
  font-style: normal;
}
/* .header {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid black;
}

.header ul {
  display: flex;
}

.header ul li {
  margin: 0 15px 0 0;
}

.header ul li:last-child {
  margin: 0;
} */
